.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); */
  border-radius: 0 0 12px 12px;
  margin: 0px 0px 0px 0px;

  .logo {
    color: #2a7de1;
    font-weight: 700;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .search-field {
    width: 500px;
    margin-top: 23px;
    /* height: 20px; */
    input {
      height: 20px;
    }
  }

  .nav {
    ul {
      display: flex;
      list-style: none;
      gap: 50px;
      font-weight: 500;
      color: #333333;

      li a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
      }
    }
  }
}

/* header.component.css */

/* Option background */
::ng-deep .mat-mdc-option {
  background-color: #fff !important;
  color: #333 !important;
  font-weight: 500;
}

/* Hover effect */
::ng-deep .mat-mdc-option:hover {
  background-color: #f5f5f5 !important;
}

/* Selected option */
::ng-deep .mat-mdc-option.mdc-list-item--selected {
  background-color: #ff6f61 !important; /* Your brand color */
  color: #fff !important;
}

::ng-deep .mat-mdc-autocomplete-panel{
padding: 0 !important;
}


