.product-details-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 30px auto;
  background-color: #fff;
  overflow: hidden;
  padding: 20px;
  gap: 30px;
  min-height: 500px;
}

.product-image {
  flex: 1 1 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  object-fit: contain;
}

.product-info {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.product-name {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.product-description {
  color: #666;
  line-height: 1.5;
  font-size: 15px;
}

.product-price {
  font-size: 22px;
  font-weight: 600;
  color: #0077ff;;
}

.quantity-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity {
  font-size: 18px;
  min-width: 30px;
  text-align: center;
}

.add-to-cart-btn {
  margin-top: 10px;
  font-weight: 600;
  text-transform: none;
  border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-image img {
    max-width: 300px;
  }

  .product-info {
    align-items: center;
  }
}

        button {
        background-color: #0077ff;;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          background-color: #005FCC;
        }
      }
