.home-page-container {
  padding: 20px;

  .carousel-container {
    margin-bottom: 30px;

    .product-carousel {
      height: 300px;
      .carousel-card {
        margin: 6px 6px;
        background: #fff;
        border-radius: 12px;
        padding: 15px;
        text-align: center;
        box-shadow: 0 4px 12px rgba(7, 7, 7, 0.1);
        img {
          width: 100%;
          height: 150px;
          object-fit: contain;
          border-radius: 8px;
          margin-bottom: 10px;
        }
        h3 {
          font-size: 16px;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          color: #333;
        }
      }
    }
  }

  .product-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;

    .product-card {
      background: #fff;
      padding: 15px;
      border-radius: 12px;
      text-align: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
      }

      img {
        width: 100%;
        height: 150px;
        object-fit: contain;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      h4 {
        font-size: 15px;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        color: #555;
        margin-bottom: 10px;
      }

      button {
        background-color: #0077ff;;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          background-color: #005FCC;
        }
      }
    }
  }
}

.clickable-image {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.clickable-image:hover {
  transform: scale(1.03);
}
