@if (isLoginForm) {
<div class="form-container">
  <h2 class="form-title">Seller Login</h2>

  <form [formGroup]="loginForm">
    <!-- Email -->
    <div class="form-group">
      <label for="name">Email</label>
      <input
        type="text"
        formControlName="username"
        placeholder="Enter the Email"
      />
    </div>

    <!-- password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Enter the Password"
      />
    </div>

    <!-- Submit -->
    <button class="btn-submit" (click)="onLogin()">Login</button>
    <p class="login-txt">
      Dont't have an account? <a (click)="toggleSignupForm()"> Sign Up</a>
    </p>
  </form>
</div>
} @else {
  <div class="form-container">
  <h2 class="form-title">Seller Login</h2>
<form [formGroup]="signUpForm">
  <!-- Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" formControlName="name" placeholder="Enter the Name" />
  </div>

  <!-- Email -->
  <div class="form-group">
    <label for="name">Email</label>
    <input type="text" formControlName="email" placeholder="Enter the Email" />
  </div>

  <!-- password -->
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      placeholder="Enter the Password"
    />
  </div>

  <!-- Submit -->
  <button class="btn-submit" (click)="onSignup()" [disabled]="signUpForm.invalid">Sign Up</button>
  <p class="login-txt">
    Already have an account? <a (click)="toggleLoginForm()">Login</a>
  </p>
</form>
</div>
}
