
@if (isLoginForm) {
<div class="form-section">
  <div class="form-container" style="height: 42vh;">
    <h1>Seller Login</h1>
    <form [formGroup]="loginForm" style="height: 17vh;">
      <p>Email</p>
      <input type="text" formControlName="username"/>
      <p>Password</p>
      <input type="password" formControlName="password"/>
    </form>
    <button class="btn-primary" (click)="onLogin()">Login</button>
    @if (isError) {
      <p style="color: red;padding-left: 40px;">Invalid Email or Password</p>
    }
    <p class="login-txt">Dont't have an account? <a (click)="toggleSignupForm()"> Sign Up</a></p>
  </div>
</div>
}
@else {
  <div class="form-section">
  <div class="form-container">
    <h1>Seller Sign Up</h1>
    <form [formGroup]="signUpForm">
      <p>Name</p>
      <input type="text" formControlName="name"/>
      <p>Email</p>
      <input type="text" formControlName="email"/>
      <p>Password</p>
      <input type="password" formControlName="password"/>
    </form>
    <button class="btn-primary" (click)="onSignup()">Sign Up</button>
    <p class="login-txt">Already have an account? <a (click)="toggleLoginForm()">Login</a></p>
  </div>
</div>
}
