.container {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0px 20px;
}

@media (max-width: 640px) {
  .container {
    max-width: 400px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
}
